@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0%;
    margin: 0;
}

body {
    background-color: white;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.header-section {
    margin-top: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Raleway;
}

.navbar h3 {
    font-size: 35px;
}

.navigation-link {
    list-style-type: none;
    display: flex;
    gap: 60px;
    font-size: 18px;
}

.navigation-link a{
    text-decoration: none;color: black;font-weight: 600;
}
.navigation-link a:hover{
    color: #31f10a;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #B1EFA7;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #E8FAE5;
    color: #31f10a;
}

.nav-btn:hover {
    background-color: transparent;
}

.menu {
    display: none;
}

.banner-section {
    margin-top: 50px;
    height: 650px;
    background-image: url('./images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: white;
}

.banner-content span {
    color: #1DD100;
}

.banner-content {
    width: 44%;
    margin: 0 auto;
    text-align: center;
}

.banner-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
    background-color: #1DD100;
    border: 1px solid #1DD100;
    padding: 20px 30px;
    border-radius: 10px;
    margin-top: 20px;
}
.banner-btn:hover{
    background-color: transparent;
    color: #1DD100;
    border: 1px solid #1DD100;
}

.banner-heading {
    font-size: 64px;
    padding-bottom: 20px;
}

.main{
    margin-top: 120px;
    background-color: #F7F8F8;
    border-top: 2px solid #A1E896;
    border-radius: 50px;
}

.bus-details{
    background-color: white;
}





@media (max-width:1500px) {
    .content{
        width: 90%;
    }
}




@media (max-width:1200px) {
    .content{
        width: 90%;
    }
    .banner-section{
        height: 540px;
    }
    .banner-content{
        width: 90%;
    }
}




@media (max-width:800px) {
    .content {
        width: 90%;
    }

    .navigation-link {
        gap: 40px;
    }
    .banner-section{
        height: 400px;
    }
    .banner-content{
        width: 100%;
        padding-inline: 10px;
    }

    .banner-btn{
        padding: 13px 19px;
        font-size: 17px;
        border-radius: 6px;
    }
}






/* MOBILE RESPONSIVE */
@media (max-width:600px) {
    .content {
        width: 95%;
    }

    .navigation-link,
    .nav-btn {
        display: none;
    }

    .menu {
        display: block;
    }

    .banner-section {
        margin-top: 10px;
        height: 300px;
    }

    .banner-content {
        width: 100%;
        padding-inline: 5px;
    }

    .banner-heading {
        font-size: 36px;
    }
    .banner-btn{
        padding: 10px 16px;
        font-size: 17px;
        border-radius: 6px;
    }
}